<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TimelineTwitter/src/com/favre/ppe/twitter/programm/TimelineTwitter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.favre.ppe.twitter.programm.TimelineTwitter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TimelineTwitter"/>
</launchConfiguration>
